@font-face {
  font-family: Crete-regular;
  src: url('../assets/CreteRound-Regular.ttf');
}

@font-face {
  font-family: Crete-italic;
  src: url('../assets/CreteRound-Italic.ttf');
}

@font-face {
  font-family: Circular-bold;
  src: url('../assets/CircularStdBold.ttf');
}

@font-face {
  font-family: Mplus-Bold;
  src: url('../assets/MPLUSRounded1c-Bold.ttf');
}

@font-face {
  font-family: Mplus-Regular;
  src: url('../assets/MPLUSRounded1c-Regular.ttf');
}

@font-face {
  font-family: Archia;
  src: url('../assets/archia-regular-webfont.ttf');
}
