@import "src/theme/variables";

.news-container {
  background-color: $color-background;
}

.ion-header {
  background-color: $color-background;
}

.news-infinite-scroll {
  background-color: $color-background;
}
